@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeoutin {
    0% {
        filter: opacity(0%);
    }
    100% {
        filter: opacity(100%);
    }
}

.col-sm-4 {
    display: block;
}

.col-sm-8 {
    display: block;
}

.backdrop {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px auto;
}


/* #back {
    display: none;
} */

.cardwrapper {
    background: #fff;
    border-radius: 20px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 10px 20px #00000021;
    animation: fadeoutin 0.8s ease-in-out, slideInFromLeft 0.8s ease-in-out;
}

.details {
    background-color: #7f53ac;
    padding: 30px;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    border-radius: 20px;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.loginwrapper {
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.157);
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.formmask {
    height: auto;
    position: absolute;
    clip: rect(0px, 500px, 500px, 0px);
    width: 90%;
}

.formparent {
    height: 800px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    width: 80%;
    transform: translateY(10px);
    transition: all 0.8s ease-in-out;
    animation: fadeoutin 3s ease-in-out;
    /* animation-delay: 0.5s; */
}

.formchild {
    padding-top: 200px;
    width: 80%;
}

.formelement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(0 0 0 / 3%);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Josefin Sans";
}

.formelement:hover {
    background: #647dee11;
}

.formelement:focus-within>.forward {
    background-color: #647dee;
    /* background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

.valid {
    color: rgb(41, 197, 41);
    background-color: rgba(17, 160, 17, 0.308);
}

.invalid {
    color: red;
}

.validform {
    border: 1px solid rgb(41, 197, 41);
    background-color: rgba(17, 160, 17, 0.308);
    color: rgb(41, 197, 41);
}

.invalidform {
    color: #FF0000;
    border: 1px solid #FF0000;
    background-color: #FF0000;
}

.form-control {
    background: rgba(255, 255, 255, 0)!important;
    border: none!important;
}

.form-control:focus {
    box-shadow: none;
}

.forward {
    background: none;
    color: rgba(65, 65, 65, 0.479);
    border: none;
    border-radius: 10px;
}

.splitter {
    height: 30px;
    width: 0.5px;
    background-color: #8686866e;
}

.forward:hover {
    background-color: #647dee;
    /* background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

.backbutton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    background: rgb(255, 255, 255);
    display: block;
    background-color: #647dee10;
    border-radius: 10px;
    margin: 30px 30px 30px 4px;
}

.backbutton:hover {
    background-color: #647dee;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

.gradient1 {
    width: 80%;
    background-image: linear-gradient(180deg, #ffffff 30%, #ffffff00 74%);
    position: absolute;
    height: 30%;
    top: 0;
    z-index: 30;
}

.gradient2 {
    width: 80%;
    background-image: linear-gradient(180deg, #ffffff00 0%, #ffffff 74%);
    position: absolute;
    height: 30%;
    bottom: 0;
    z-index: 30;
}

.sbutton {
    background-color: #647dee;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    margin: 0px 5px;
    padding: auto 10px;
}

.loginmobilewrapper {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.157);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    color: #000;
}

.submitclass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.sbutton:hover {
    z-index: 40;
    box-shadow: 0 15px 30px #647dee50;
    transform: translate3d(0, -2px, 0);
    color: #fff;
}

@media screen and (max-width: 600px) {
    .loginmobilewrapper {
        display: flex;
    }
    .gradient2 {
        display: none;
    }
    p {
        font-size: 15px;
    }
    h3 {
        font-size: 25px;
        margin-bottom: 15px!important;
    }
    .col-sm-4 {
        height: 30%;
    }
    .col-sm-8 {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .loginwrapper {
        display: none;
    }
    .formmask {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .formparent {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    .formchild {
        width: 100%;
        padding: 0px 20px 0px 20px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .formelement {
        width: 100%;
    }
    .backbutton {
        margin-left: 20px;
    }
}